<h1> Stupid Coaching</h1>


<div class="containYou">
<p class="yeah">you :</p>
<p class="yeah"><%= @question %></p>
</div>

<div class="containHim">
<p class="yeah">your coach :</p>
<p class="yeah"><%= @response %></p>
</div>



<%= link_to "Ask a new question", "ask", :class => "lien" %>
